<div class="reset-password-container">
  <h2>Postavljanje nove lozinke</h2>
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="newPassword">Nova lozinka</label>
      <input
        id="newPassword"
        [type]="showPasswords ? 'text' : 'password'"
        [(ngModel)]="newPassword"
        name="newPassword"
        required
        minlength="8"
      />
    </div>
    <div>
      <label for="confirmPassword">Potvrdite lozinku</label>
      <input
        id="confirmPassword"
        [type]="showPasswords ? 'text' : 'password'"
        [(ngModel)]="confirmPassword"
        name="confirmPassword"
        required
      />
    </div>
    <button type="button" (click)="togglePasswordsVisibility()">
      {{ showPasswords ? 'Sakrij lozinke' : 'Prikaži lozinke' }}
    </button>
    <button type="submit">Postavi novu lozinku</button>
  </form>
</div>
