.profile-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.profile-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

.profile-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profile-container label {
  font-size: 14px;
  color: #555;
}

.profile-container input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
}

button {
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: bold;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Stil za submit dugme */
button[type="submit"] {
  background-color: #007bff; /* Plava boja za submit */
}

button[type="submit"]:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

button[type="submit"]:active {
  background-color: #003d80;
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Stil za delete dugme */
button.delete-btn {
  background-color: #ff4d4d; /* Crvena boja za delete */
}

button.delete-btn:hover {
  background-color: #e60000;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

button.delete-btn:active {
  background-color: #cc0000;
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


@media (max-width: 600px) {
  .profile-container {
    padding: 15px;
  }

  .profile-container h2 {
    font-size: 20px;
  }

  button {
    font-size: 14px;
    padding: 10px;
  }
}
